.hard {
	background-color: #00F;
	
}

.pg1 {
	background-color: #FF0;
	background-image: url("http://pleek.net/images/projects/36/image_1.png");
	
}

.pg2 {
	background-color: #0FF;
}

.pg3 {
	background-color: #F0F;
}

.pg4 {
	background-color: #F00
}