#flipbookContainer {
  width: 50%;
  margin: 0 auto;
}

.hard {
	background-color: #00F;
}

.pg1 {
	background-color: #FF0;
}

.pg2 {
	background-color: #0FF;
}

.pg3 {
	background-color: #F0F;
}

.pg4 {
	background-color: #F00
}
