:root {
	--back-color: rgb(169, 164, 12);
	--primary-green: rgb(137, 164, 106);
	font-size: 15px;
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 5px;
	background-color: black;
	font-family: 'Space Mono', monospace;
}

a {
	color: white;
}

p {
	color: var(--primary-green);
}

#allContainer {
	margin-top: 10px;
	/* width: 75%; */
}

.infoLine {
	color: var(--primary-green);
}

.imageDiv {
	top: 10px;
	left: 30px;
	display: inline;
}

#programmeName {
	font-size: 20px;
	color: var(--back-color);
	margin: 10px 0;
}

#zineSystemContainer {
	width: 95%;
	margin: auto;
	border: thin dashed var(--primary-green);
}

#thumbContainer {
	/* width: 95%; */
	margin: auto;
	text-align: center;
}

.zine {
	display: inline-block;
	/* margin: 5px; */
	padding: 10px;
	border: none;
}

.selected {
	border: thick solid var(--primary-green);
}

.zineImage {
	height: 200px;
}

.zineImage>img {
	margin: 0;
}

.zineInfo {
	display: none;
}

#zineInfoDisplay {
	color: var(--primary-green);
	float: none;
	border: thin solid var(--primary-green);
	border-width: 1px 0 0 0;
	padding: 20px;
	font-size: 18px;
	color: white;
	width: 80%;
	margin: auto;
}

#textContainer {
	text-align: center;
	width: 100%;
	color: var(--primary-green);
	/* padding: 50px;; */
}

.textRow {
	display: flex;
}

.textColumn {
	flex: 50%;
	margin: 40px;
	text-align: justify;
}

h2 {
	color: #ccc;
}

#downloadZineContainer {
	margin-bottom: 20px;
}